# Django Settings
SECRET_KEY=django-insecure-*q94-ld&)yqxfn3des=hb1#ae_za^h#=)k1)x(a@442+qulu%@
DEBUG=True
ALLOWED_HOSTS=localhost,127.0.0.1
DJANGO_SETTINGS_MODULE=workflow.settings


# Database (Postgres)
DB_NAME=workflow_db
DB_USER=postgres
DB_PASSWORD=workflow_password
DB_HOST=db
DB_PORT=5432


# Gunicorn
GUNICORN_WORKERS=3
GUNICORN_LOG_LEVEL=info

# Email (opcional)
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=587
EMAIL_USE_TLS=True
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
